#pane {
  border-right-style: solid;
  border-width: 1px;

  line-height: 0;

  position: relative;
}

#editor, #report {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 15px;
}

#editor {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 10px;

  white-space: nowrap;

  resize: none;
  border-style: none;
}

#editor:focus {
  outline: 0;
}

#editor::selection {
  background-color: rgb(180, 210, 255);
}

#drag_handle_h {
  height: 5px;
  width: 100%;
  cursor: ns-resize;

  position: absolute;
}

#report {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  overflow-y: auto;

  white-space: pre-wrap;
  line-height: 20px;

  background-color: beige;
  border-top: solid;
  border-width: 1px;
}
